{% extends "base.html" %}

{% block content %}
	<article class="IniciarSession col-xs-11 col-sm-4 col-md-4 col-lg-4  center">
		<h2 class="IniciarSessionTitle">
			Entra
		</h2>
		<div class="IniciarSessionDiv">
			<form method="POST">
				{% csrf_token %}
				<table>
					<tr>
						{{ form.errors }}
						<th>
							<label for="id_emailLogin">Email:</label>
						</th>
						<td>
							<input id="id_emailLogin" placeholder="Ingresa tu email" 
								name="email" type="email" />
								{{ form.email.errors }}
						</td>
					</tr>
					<tr>
						<th>
							<label for="id_passwordLogin">Password:</label>
						</th>
						<td>
							<input id="id_passwordLogin" placeholder="Y tu contraseña" 
								name="password" type="password" />
							{{ form.password.errors }}
						</td>
					</tr>
				</table>
				<input type="submit" value="Entrar" class="IniciarSessionBtn">
			</form>
		</div>
		<div class="crearCuenta">
			<span class="mensaje">¿Aún no estás registrado? </span>
			<a class="abrir" href="{% url 'signup' %}">Abre tu cuenta aqui.</a>
		</div>
	</article>
<footer class="col-lg-12">
	<p>@Power by Apps and Play</p>
</footer>
{% endblock content %}