{% extends "base.html" %}

{% block content %}
	<article class="IniciarSession col-xs-11 col-sm-4 col-md-4 col-lg-4 center">
		<h2 class="IniciarSessionTitle">
			Únete
		</h2>
		<div class="IniciarSessionDiv">
			<form method="POST">
				{% csrf_token %}
				<table>
					{{ form.as_table }}
				</table>
				<input type="submit" value="Registrate" class="IniciarSessionBtn">
			</form>
		</div>
		<div class="crearCuenta">
			<span class="mensaje">¿Ya estás registrado?  </span>
			<a class="abrir" href="{% url 'signin' %}"> Entra desde aquí.</a>
		</div>
	</article>
<footer class="col-lg-12">
	<p>@Power by Apps and Play</p>
</footer>
{% endblock content %}